h2{
    color:brown
}

h1 {
color: rgb(28, 0, 54);
}

h4{
color: rgb(255, 0, 0);
}

b{
 color: rgb(59, 9, 156);
    }

    i{
     color: brown;
 }


 
 i{
color: rgb(255, 0, 0);
}


li{
color: black;
}

h3{
 
color: green;
}

#Click{
    list-style: none;
}

.footer{
    list-style: none;
    text-align: center;
}
